<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.admin.dao.AgeAdmDAO">
	<insert id="ageReg">
		INSERT INTO cp_member_age
		(ma_age)
		VALUES(#{param1});
	</insert>
</mapper>