<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.admin.dao.BlindAdmDAO">
	
	<select id="blindCnt" resultType="int">
		SELECT COUNT(bb_idx)
		FROM 
			cp_board_blind ORDER BY bb_datetime DESC
		<where>
			<if test="filter != null and !filter.equals('')">
				in_status = #{filter}
			</if>
			<if test="keyword != null and !keyword.equals('')">
				AND
					<choose>
						<when test="type != null and type.equals('제목')" >
							in_title LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type != null and type.equals('내용')" >
							in_content LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type != null and type.equals('아이디')" >
							mb_id LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<otherwise>
							(in_title LIKE CONCAT('%', #{keyword}, '%') 
								OR in_content LIKE CONCAT('%', #{keyword}, '%')
								OR mb_id LIKE CONCAT('%', #{keyword}, '%'))
						</otherwise>
					</choose>
				</if>
		</where>
		
	</select>
	
	<select id="blindList" parameterType="hashmap" resultType="admBlind">
		SELECT bb_idx, bb_relation, bb_reason, mb_id, bb_datetime
		FROM 
			cp_board_blind WHERE
		<where>
			<if test="filter != null and !filter.equals('')">
				in_status = #{filter}
			</if>
			<if test="keyword != null and !keyword.equals('')">
				AND
					<choose>
						<when test="type != null and type.equals('제목')" >
							in_title LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type != null and type.equals('내용')" >
							in_content LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="type != null and type.equals('아이디')" >
							mb_id LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<otherwise>
							(in_title LIKE CONCAT('%', #{keyword}, '%') 
								OR in_content LIKE CONCAT('%', #{keyword}, '%')
								OR mb_id LIKE CONCAT('%', #{keyword}, '%'))
						</otherwise>
					</choose>
				</if>
		</where>
		ORDER BY in_idx DESC
		LIMIT #{amount}
		<if test="skip gt 0">OFFSET #{skip}</if>
	</select>
	
</mapper>