<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.admin.dao.StopAdmDAO">

	<select id="stopList" resultType="com.camper.admin.dto.StopAdmDTO">
		SELECT cms.ms_idx, cms.ms_start_date, cms.ms_end_date, cms.ms_admin_id, cms.ms_reason, cms.mb_id,
					cm.mb_nickname , cm.mb_name,
					(select count(ms_idx) +1 from cp_member_stop cms where mb_id = cms.mb_id and ms_idx <![CDATA[<]]>cms.ms_idx) as ms_count
		FROM cp_member_stop cms 
		JOIN cp_member cm ON cm.mb_id = cms.mb_id
	</select>
	
	<select id="stopPopup" resultType="com.camper.admin.dto.StopAdmDTO">
		SELECT cms.ms_idx, cms.ms_start_date, cms.ms_end_date, cms.ms_admin_id, cms.ms_reason, cms.mb_id,
					cm.mb_nickname , cm.mb_name,
					(select count(ms_idx) +1 from cp_member_stop cms where mb_id = cms.mb_id and ms_idx <![CDATA[<]]>cms.ms_idx) as ms_count
		FROM cp_member_stop cms 
		JOIN cp_member cm ON cm.mb_id = cms.mb_id
		WHERE cms.mb_id = #{param1}
	</select>
	
	

</mapper>