<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.admin.dao.TitleAdmDAO">

	<select id="total" parameterType="hashmap" resultType="int">
		SELECT COUNT(mt_idx)
		FROM cp_member_title 
		ORDER BY mt_idx DESC
	</select>

	<select id="titleList" resultType="admTitle">
		SELECT mt_idx, mt_name, mt_count, mt_degree 
		FROM cp_member_title 
		ORDER BY mt_idx DESC
		<!-- LIMIT #{amount}
		<if test="skip gt 0">OFFSET #{skip}</if> -->
	</select>
	
	<insert id="titleAdd" parameterType="hashmap">
		INSERT INTO cp_member_title(mt_name, mt_count, mt_degree) 
		VALUES(#{mt_name}, #{mt_count}, #{mt_degree})
	</insert>
	
	<select id="titleUpdateForm" resultType="admTitle">
		SELECT mt_idx, mt_name, mt_count, mt_degree 
		FROM cp_member_title 
		WHERE mt_idx = #{param1}
	</select>
	
	<update id="titleUpdate" parameterType="hashmap">
		UPDATE cp_member_title SET mt_name = #{mt_name}, mt_count = #{mt_count}, mt_degree = #{mt_degree} WHERE mt_idx = #{mt_idx}
	</update>
	
	<select id="getTitleIdx" resultType="admTitle">
		SELECT mt_idx FROM cp_member_title order by mt_degree, mt_count;
	</select>
	
	<update id="memberUpdate">
		UPDATE cp_member cm SET mt_idx = #{param1}
		WHERE mb_fire >= (SELECT mt_degree FROM cp_member_title cmt WHERE mt_idx = #{param1})
		AND (SELECT count(ct_idx) FROM cp_crew_together cct WHERE cct.mb_id = cm.mb_id) >= (SELECT mt_count FROM cp_member_title cmt WHERE mt_idx = #{param1})
	</update>
	
	<select id="chkDuple" parameterType="hashmap" resultType="int">
		SELECT COUNT(mt_name) 
		FROM cp_member_title 
		WHERE mt_name = #{mt_name}
	</select>
	
	<select id="chkUpdateDuple" parameterType="hashmap" resultType="int">
		SELECT COUNT(mt_name) 
		FROM cp_member_title 
		WHERE mt_name = #{mt_name} AND NOT mt_idx IN (#{mt_idx})
	</select>
	
</mapper>