<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.mypage.dao.MyCampingLikeDAO">

	<!-- 캠핑장 찜 목록 -->
	<!-- by.승진 2022-08-08 -->
	<select id="myCampingLikeList" resultType="mypgLike" parameterType="hashmap">
		SELECT ccl.cl_idx, ccl.cl_datetime, b.ca_name, b.ca_idx  
		FROM cp_camping_like ccl, cp_camping b 
		WHERE ccl.mb_id=#{loginId} AND ccl.ca_idx= b.ca_idx 
		<if test="keyword != null and !keyword.equals('')">
			AND b.ca_name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY cl_idx DESC 
		LIMIT #{amount}
		OFFSET #{skip}
	</select>
	
	
	<!-- 캠핑장 찜 목록 총 갯수 가져오기(페이징 처리) -->
	<select id="total" parameterType="hashmap" resultType="int">
		SELECT COUNT(ccl.cl_idx)
		FROM cp_camping_like ccl, cp_camping b 
		WHERE ccl.mb_id=#{loginId} AND ccl.ca_idx= b.ca_idx 
		<if test="keyword != null and !keyword.equals('')">
			AND b.ca_name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		ORDER BY cl_idx DESC 
			<!-- AND
					<c:if test="keyword != null and !keyword.equals('')">
			<choose>
				<when test="type != null and type.equals('셀렉트 박스 밸류')" >
					ccr.mb_id LIKE CONCET('%', #{keyword}, '%')
				</when>
				<otherwise>
					(ccr.mb_id LIKE CONCET('%', #{keyword}, '%') or ccr.mb_id LIKE CONCET('%', #{keyword}, '%'))
				</otherwise>
			</choose>
			</c:if> --> 
	</select>
	
</mapper>