<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.mypage.dao.MyCrewDAO">

	<select id="myCrewList" resultType="mypgCrew" parameterType="String">
		SELECT cct.ct_idx, cc.ca_name, cct.ct_wish_start, cct.ct_wish_end, ccc.cc_crew, ccc.cc_is_join, cct.ct_end
		FROM cp_crew_together cct
		JOIN cp_camping_crew ccc on ccc.ct_idx = cct.ct_idx
		JOIN cp_camping cc ON cc.ca_idx = cct.ca_idx
		WHERE ccc.mb_id = #{param1} AND cct.ct_idx not in (select bb_relation_idx from cp_board_blind where bb_relation = 'cp_crew_together') order by cct.ct_idx desc;
	</select>

</mapper>