<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.mypage.dao.MyInquiryDAO">

	<!-- 페이징 처리 -->
	<select id="total" parameterType="hashmap" resultType="int">
		SELECT COUNT(in_idx)
		FROM cp_inquiry 
		WHERE mb_id = #{loginId}
		<if test="keyword != null and !keyword.equals('')">
		AND
			<choose>
				<when test="type != null and type.equals('in_title)" >
					in_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="type != null and type.equals('in_content')" >
					in_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<otherwise>
					(in_title LIKE CONCAT('%', #{keyword}, '%') or in_content LIKE CONCAT('%', #{keyword}, '%'))
				</otherwise>
			</choose>
		</if>
		ORDER BY in_idx DESC
	</select>

	<!-- 문의 목록 -->
	<select id="myInquiryList" parameterType="hashmap" resultType="mypgInquiry">
		SELECT in_idx, in_title, in_datetime, in_status 
		FROM cp_inquiry 
		WHERE mb_id = #{loginId}
		<if test="keyword != null and !keyword.equals('')">
		AND
			<choose>
				<when test="type != null and type.equals('in_title)" >
					in_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="type != null and type.equals('in_content')" >
					in_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<otherwise>
					(in_title LIKE CONCAT('%', #{keyword}, '%') or in_content LIKE CONCAT('%', #{keyword}, '%'))
				</otherwise>
			</choose>
		</if> 
		ORDER BY in_idx DESC
		LIMIT #{amount}
		OFFSET #{skip}
	</select>

	<insert id="inquiryWrite" parameterType="hashmap">
		INSERT INTO cp_inquiry(in_title,in_content,mb_id, in_status) 
		VALUES(#{subject}, #{content}, #{loginId}, '답변대기')
	</insert>

	<!-- 문의 상세보기 -->
	<select id="inquiryDetail" parameterType="String" resultType="mypgInquiry">
		SELECT in_idx, in_title, in_datetime, in_content, in_status, mb_id FROM cp_inquiry WHERE in_idx = #{idx}
	</select>
	
	<!-- 문의 삭제 -->
	<delete id="myInquiryDelete">
		DELETE FROM cp_inquiry WHERE in_idx = #{param1} AND mb_id = #{param2}
	</delete>
	
	<select id="myInquiryUpdateForm" resultType="mypgInquiry">
		SELECT mb_id, in_idx, in_title, in_content FROM cp_inquiry WHERE in_idx = #{param1}
	</select>
	
	<!-- 문의 수정 -->
	<update id="myInquiryUpdate" parameterType="hashmap">
		UPDATE cp_inquiry SET in_title = #{subject}, in_content = #{content} WHERE in_idx = #{idx} AND mb_id = #{loginId}
	</update>
	
	<!-- 답변 보기 -->
	<select id="inquiryAnswer" resultType="mypgInquiry">
		SELECT ia_content, mb_id, ia_datetime FROM cp_inquiry_answer WHERE in_idx = #{param1}
	</select>
	
	<!-- 방금 쓴 글 보기 -->
	<select id="writeSuccess" resultType="mypgInquiry">
		SELECT in_idx, in_title, in_datetime, in_content, in_status, mb_id  
		FROM cp_inquiry 
		WHERE mb_id = #{param1} 
		ORDER BY in_idx DESC 
		LIMIT 1
	</select>

</mapper>
