<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:com/camper/admin/dao/ageadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/answeradm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/blindadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/campingadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/memberadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/reviewadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/stopadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/titleadm_mapper.xml</value>
				<value>classpath:com/camper/admin/dao/togetheradm_mapper.xml</value>
				<value>classpath:com/camper/camping/dao/camping_mapper.xml</value>
				<value>classpath:com/camper/camping/dao/campingapi_mapper.xml</value>
				<value>classpath:com/camper/camping/dao/campinglike_mapper.xml</value>
				<value>classpath:com/camper/chat/dao/chat_mapper.xml</value>
				<value>classpath:com/camper/crew/dao/together_mapper.xml</value>
				<value>classpath:com/camper/lib/dao/common_mapper.xml</value>
				<value>classpath:com/camper/login/dao/login_mapper.xml</value>
				<value>classpath:com/camper/main/dao/main_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/myblock_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/mycampinglike_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/mychat_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/mycrew_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/myinfo_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/myinquiry_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/myreview_mapper.xml</value>
				<value>classpath:com/camper/mypage/dao/mytogether_mapper.xml</value>
				<value>classpath:com/camper/profile/dao/profile_mapper.xml</value>
			</list>
		</property>
		<property name="configLocation" value="classpath:config/aliase.xml"/>
		<property name="environment" value="classpath:config/pool.xml"/>
	</bean>
	
	<mybatis-spring:scan base-package="com.camper.admin.dao"/>
	<mybatis-spring:scan base-package="com.camper.camping.dao"/>
	<mybatis-spring:scan base-package="com.camper.chat.dao"/>
	<mybatis-spring:scan base-package="com.camper.crew.dao"/>
	<mybatis-spring:scan base-package="com.camper.lib.dao"/>
	<mybatis-spring:scan base-package="com.camper.login.dao"/>
	<mybatis-spring:scan base-package="com.camper.main.dao"/>
	<mybatis-spring:scan base-package="com.camper.mypage.dao"/>
	<mybatis-spring:scan base-package="com.camper.profile.dao"/>

</beans>
