<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.login.dao.LoginDAO">

<select id="doubleCheckId" parameterType="String" resultType="String">
	SELECT mb_id FROM cp_member WHERE mb_id= #{chkId}
</select>

<select id="doubleCheckEmail" parameterType="String" resultType="String">
	SELECT mb_email FROM cp_member WHERE mb_email = #{chkEmail}
</select>

<select id="doubleCheckNickname" parameterType="String" resultType="String">
	SELECT mb_nickname FROM cp_member WHERE mb_nickname = #{chkNickname}
</select>

<insert id="join" parameterType="logIn" >
	INSERT INTO cp_member(mb_id, mb_pw, mb_email,  mb_name, mb_nickname, mb_gender, mb_sido, mb_sigungu, mb_postcode, mb_addr_default, mb_addr_detail, mb_fire, mb_grade, mb_status, mb_datetime, ma_idx)
		values(#{mb_id},#{mb_pw},#{mb_email},#{mb_name},#{mb_nickname}, #{mb_gender},
<choose><when test="#{mb_sido}.equals('제주특별자치도')">'제주도'</when><otherwise>#{mb_sido}</otherwise></choose>
,#{mb_sigungu},#{mb_postcode},#{mb_addr_default},#{mb_addr_detail},'500', '회원', '정상',now(),#{ma_idx})
</insert>

<select id="login" resultType="String">
	SELECT mb_pw FROM cp_member 
			WHERE mb_id = #{param1}
</select>

<select id="idFind" resultType="String">
	SELECT mb_id FROM cp_member WHERE mb_name = #{param1} AND mb_email = #{param2}
</select>

<select id="pwFind" resultType="int" parameterType="logIn">
	SELECT COUNT(mb_id) FROM cp_member WHERE mb_id = #{param1} AND mb_email = #{param2}
</select>

<update id="pwRework" parameterType="logIn">
	UPDATE cp_member SET mb_pw=#{mb_pw} WHERE mb_id=#{mb_id}
</update>

<select id="mbgrade" resultType="String">
	SELECT mb_grade FROM cp_member WHERE mb_id = #{param1}
</select>

<select id="mbstatus" resultType="String">
	SELECT mb_status FROM cp_member WHERE mb_id = #{param1}
</select>

<!-- 
<select id="stopCnt" resultType="int">
	select COUNT(mb_id) from cp_member_stop where now() >= ms_end_date
</select>
 -->

<update id="updateMbStatus">
	update cp_member set mb_status = '정상' where mb_id in 
(select b.mb_id from cp_member a join cp_member_stop b on a.mb_id = b.mb_id where now() > b.ms_end_date and a.mb_status = '정지')
</update>

<select id="idFindStatus" resultType="String">
	SELECT mb_status FROM cp_member WHERE mb_name = #{param1} AND mb_email = #{param2}
</select>

</mapper>