<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.profile.dao.ProfileDAO">

 
<!-- 차단하기 -mb_id가 차단당한 회원-->
<insert id="MemberBlock" parameterType="String">
INSERT INTO cp_member_block(mb_id, bl_mb) VALUES(#{param1},#{param2})
</insert>


<!-- 차단해제 -->
<delete id="MemberBlockDelete" parameterType="String">
DELETE FROM cp_member_block WHERE mb_id=#{param1} and bl_mb=#{param2}
</delete>


<!-- 차단 여부확인 -->
<select id="blockCheck" resultType="String">
SELECT bl_idx FROM cp_member_block WHERE mb_id=#{param1} and bl_mb=#{param2}
</select>



<!-- 프로필 조회 -->
<select id="profileView" parameterType="String" resultType="com.camper.profile.dto.ProfileDTO">
SELECT mb_id,mb_nickname, mb_gender, mb_fire , (select ma_age from cp_member_age cma where cma.ma_idx = m.ma_idx) as age, (select mt_name from cp_member_title cmt where cmt.mt_idx = m.mt_idx) as title 
FROM cp_member m WHERE mb_id = #{mb_id}
</select>


<!-- 프로필 탈퇴회원 여부 조회 -->
<select id="NormalMember" resultType="String">
SELECT mb_status FROM cp_member m WHERE mb_id = #{mb_id}
</select>

<!-- 신고대상 닉네임 조회 -->
<select id="repoInfo" parameterType="String" resultType="com.camper.profile.dto.ProfileDTO">
SELECT mb_id, mb_nickname FROM cp_member WHERE mb_id = #{mb_id}
</select>


<!-- (신고창)로그인 닉네임 조회 -->
<select id="myInfo" parameterType="String" resultType="com.camper.profile.dto.ProfileDTO">
SELECT mb_id, mb_nickname FROM cp_member WHERE mb_id = #{loginId}
</select>


<!-- 프로필- 작성 모집글 구 -->
<select id="profileTogether" resultType="com.camper.profile.dto.ProfileDTO">
SELECT ct_idx, ct_title, ct_wish_start , ct_wish_end, (select ca_name from cp_camping where ca_idx=cct.ca_idx) as name
FROM cp_crew_together cct WHERE mb_id= #{mb_id}
</select>


<!-- 프로필 작성모집글 갯수 -->
<select id="total" parameterType="hashmap" resultType="int">
	SELECT COUNT(ct_idx) FROM cp_crew_together cct WHERE mb_id= #{mb_id} AND cct.ct_idx NOT IN (SELECT bb_relation_idx FROM cp_board_blind WHERE bb_relation = 'cp_crew_together') ORDER BY ct_idx DESC 
</select>

<!-- 프로필 후기 갯수 -->
<select id="total2" parameterType="hashmap" resultType="int">
	SELECT COUNT(mr_idx) FROM cp_member_review WHERE mb_id= #{mb_id} ORDER BY mr_idx DESC 
</select>


 <!-- 프로필 작성글 페이징처리 -->
 <select id="profileView2" parameterType="hashmap" resultType="com.camper.profile.dto.ProfileDTO">
 SELECT ct_idx, ct_title, ct_wish_start , ct_wish_end, (select ca_name from cp_camping where ca_idx=cct.ca_idx) as name
FROM cp_crew_together cct WHERE mb_id= #{mb_id} AND cct.ct_idx NOT IN (SELECT bb_relation_idx FROM cp_board_blind WHERE bb_relation = 'cp_crew_together') LIMIT 5
<if test="skip gt 0">OFFSET #{skip}</if>
 </select>

<!-- 프로필- 받은 리뷰  페이징처리-->
<select id="profileReview2" resultType="com.camper.profile.dto.ProfileDTO" parameterType="hashmap" >
SELECT mr_assessment,mr_content FROM cp_member_review WHERE mb_id= #{mb_id} LIMIT 5 
<if test="skip gt 0">OFFSET #{skip}</if>
</select>


<!-- 프로필- 받은 리뷰 -->
<select id="profileReview" resultType="com.camper.profile.dto.ProfileDTO">
SELECT mr_assessment,mr_content FROM cp_member_review WHERE mb_id= #{mb_id}
</select>



<!-- 신고하기 -->
<insert id="report" parameterType="hashmap">
   
   <selectKey keyProperty="rp_idx" resultType="String">
            SELECT LAST_INSERT_ID()
      </selectKey>
           
    INSERT INTO cp_report (rp_id, mb_id, rp_content, rp_status) 
    	VALUES (#{rp_id},#{mb_id},#{rp_content},"미처리")
 </insert>
   
   
   <!-- 신고 사진저장 -->
    <insert id="photoSave">      
      INSERT INTO cp_report_image(ri_ori_name, ri_new_name, rp_idx)
         VALUES(#{param1},#{param2},#{param3} )   
   </insert>

</mapper>